[submodule "ipcluster"]
	path = ipcluster
	url = git@github.com:lingfennan/ipcluster.git
[submodule "phenix"]
	path = phenix
	url = git@github.com:lingfennan/phenix.git
[submodule "maxwell"]
	path = maxwell
	url = git@github.com:lingfennan/maxwell.git
[submodule "openssl"]
	path = openssl
	url = git@github.com:lingfennan/openssl.git
[submodule "yargs"]
	path = yargs
	url = git@github.com:lingfennan/yargs.git
[submodule "node-semver"]
	path = node-semver
	url = git@github.com:lingfennan/node-semver.git
[submodule "nodejs-npm-buildpack"]
	path = nodejs-npm-buildpack
	url = git@github.com:lingfennan/nodejs-npm-buildpack.git
[submodule "nodejs-engine-buildpack"]
	path = nodejs-engine-buildpack
	url = git@github.com:lingfennan/nodejs-engine-buildpack.git
